img {
    width: 600px;
    margin-top: 5em;
}

body {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    background: rgb(245, 231, 177);
    line-height: 2em;
    padding: 3em;
    font-weight: bold;

}

h1 {
    padding: 3em;
    font-family:"Sixtyfour", sans-serif;
    color: rgb(103, 66, 40);
}

.navbar {
    padding: 20px;
    background-color: rgb(103, 66, 40);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.footer {
    background-color: rgb(103, 66, 40);
    color: white;
    padding: 50px 10px;
    box-sizing: border-box;
    margin-top: 8em;
}

.footer-container {
    display: flex;
    justify-content: flex-end;
    align-items: wrap;
    box-sizing: border-box;
}

.footer-links {
    list-style-type: none;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
}

.footer-links a {
    color: white;
    text-decoration: bold;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: rgb(213, 186, 166);
}

.github-link {
    border: 2px solid rgb(148, 97, 47);
    background-color: rgb(230, 182, 134);;
    color: rgb(157, 100, 42);
    padding: 20px 50px;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease;
}

.github-link:hover {
    color: rgb(125, 75, 37);
}
ul {
    padding-left: 20em;
    padding-right: 20em;
}